---
import "../styles/donate.css";
import {donate} from "../consts";
---
<div class="mt-4">
  <div class="esa-sponsor">
    <div class="tip flex items-center justify-center my-4">
      {donate.tip}
    </div>
    <div class="flex items-center justify-center">
      
      
      <div>
        <a href={donate.kofiUrl} target="_blank">
          <img src="/kofi.png" class="h-9" alt="kofi"/>
        </a>
        </div>
      
    
  </div>
</div>


<script>
  import {donate} from "../consts";

  let qrDiv = document.getElementsByClassName("qrshow");
  let aliDiv = document.getElementById("alipay");
  let wechatDiv = document.getElementById("wechatpay");
  if (qrDiv) {
    if (aliDiv && donate.alipayQRCode) {
      aliDiv.addEventListener("mouseenter", () => {
        qrDiv[0].style.display = "block";
      });
      aliDiv.addEventListener("mouseleave", () => {
        qrDiv[0].style.display = "none";
      });
    }
    if (wechatDiv && donate.wechatQRCode) {
      wechatDiv.addEventListener("mouseenter", () => {
        qrDiv[1].style.display = "block";
      });
      wechatDiv.addEventListener("mouseleave", () => {
        qrDiv[1].style.display = "none";
      });
    }
  }
</script>
